/* Normalize */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Benne Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Benne Regular'), url('Benne-Regular.woff') format('woff');
}

body {
    font-family: 'Benne Regular';
    font-weight: normal;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
}

/* Vertical rhythm */
h1, p, hr, .journey .event, .values, .contact {
    margin: 0 0 45px;
}

p {
    font-size: 25px;
}

hr {
    border: 0;
    border-top: 1px solid #dedede; 
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    width: 300px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 100px;
    font-weight: normal;
    margin-block-end: 0;
    margin-block-start: 0;
}

.journey {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    margin-left: 20px;
}

.journey .event .icon {
    height: 30px;
    width: 30px;
    background: #eee;
    margin-left: -35px;
}

.journey .event {
    display: flex;
    flex-direction: row;
}

.journey .event p {
    padding-left: 20px;
}

.journey .cert-event .certificate {
    margin-left: -35px;
}

.journey .cert-event a {
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

.journey .cert-event .cert {
    height: 80px;
    border: 6px solid #fff;
    outline: 1px solid #ddd;
    box-shadow: 0px 2px 4px 1px #eee;
}

.journey .cert-event ul {
    list-style: circle;
    margin-left: 55px;
    margin-bottom: 70px;
    font-size: 20px;
}

.journey .cert-event ul li {
    margin-bottom: 15px;
}
 
.values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.values .icon {
    width: 75px;
    height: 75px;
    background: #eee;
    border-radius: 100%;
    margin: 0 auto;
}

.values p {
    align-self: center;
}

.values .value1, .value3 {
    grid-column: 2 / 4;
}

.values .value2 {
    grid-column: 1/ 3;
}

.values .value-icon1, .value-icon3 {
    grid-column: 1 / 2;
}

.values .value-icon2 {
    grid-column: 3 / 4;
}

.values .value1, .value-icon1 {
    grid-row: 1 / 2;
}

.values .value2, .value-icon2 {
    grid-row: 2 / 3;
}

.values .value3, .value-icon3 {
    grid-row: 3 / 4;
}

.contact {
    background: #eee;
    display: flex;
}

/* Make bottom sections flush */
.contact, footer {
    margin: 0 -2em 0 -2em;
    padding: 2em;
}

.contact img {
    width: 120px;
    margin-right: 20px;
}

.contact ul {
    list-style: circle;
    font-size: 20px;
    margin-left: 20px;
}

footer {
    background: #ddd;
}

footer .copyright {
    font-size: 18px;
    margin: 0;
}

/* Responsive design for iPad and iPad pro */
@media screen and (min-width: 768px) {
    body {
        padding: 4em 4em 0 4em;
    }

    h1, p, hr, .journey .event, .values, .contact {
        margin: 0 0 60px;
    }

    .hero img {
        width: 400px;
    }

    .hero h1 {
        font-size: 150px;
    }

    p {
        font-size: 35px;
    }

    .journey .cert-event .certificate {
        margin-left: -35px;
    }

    .journey .cert-event .cert {
        height: 160px;
    }

    .journey .cert-event a {
        margin-right: 50px;
        margin-bottom: 40px;
    }

    .journey .cert-event ul {
        margin-bottom: 85px;
        margin-left: 70px;
        font-size: 25px;
    }

    .values {
        grid-template-columns: 150px 30px repeat(3, 1fr) 25px 150px;
        grid-row-gap: 50px;
    }

    .values p {
        all: unset;
        font-size: 35px;
    }

    .values .value1 {
        grid-column: 3 / 8;
    }
    
    .values .value2 {
        grid-column: 2/ 6;
    }

    .values .value3 {
        grid-column: 3 / 8;
    }
    
    .values .value-icon1, .value-icon3 {
        grid-column: 1 / 2;
    }
    
    .values .value-icon2 {
        grid-column: 7 / 8;
    }

    .values .icon {
        min-width: 150px;
        height: 150px;
    }

    .contact, footer {
        margin: 0 -4em 0 -4em;
        padding: 4em;
    }

    .contact img {
        width: 200px;
    }

    .contact ul {
        font-size: 30px;
        margin-left: 30px;
    }

    .copyright {
        font-size: 20px;
    }
}

/* Responsive design for desktop */ 
@media screen and (min-width: 1025px) {
    body {
        padding: 6em 6em 0 6em;
    }

    p {
        font-size: 40px;
    }

    .hero img {
        width: 500px;
    }

    .journey .cert-event .certificate {
        margin-left: -40px;
    }
    
    .journey .cert-event .cert {
        height: 260px;
    }
    
    .journey .cert-event ul {
        padding-left: 50px;
    }

    .contact img {
        width: 400px;
    }

    .contact ul {
        font-size: 40px;
        margin-left: 40px;
    }

    .contact, footer {
        margin: 0 -6em 0 -6em;
        padding: 6em;
    }
}

/* Responsive design for large screens - 2 columns */ 
@media screen and (min-width: 1920px) {
    body {
        padding: 10em 10em 0 10em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 10em;
    }

    .hero {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .journey {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .values {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .contact {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    footer {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .contact, footer {
        margin: 0 -10em 0 -10em;
        padding: 10em;
    }

    hr {
        display: none;
    }
}