@font-face {
    font-family: 'Benne Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Benne Regular'), url('Benne-Regular.woff') format('woff');
}

h1 {
    font-family: 'Benne Regular';
    font-weight: normal;
    font-size: 42px;
}