/* Normalize */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Benne Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Benne Regular'), url('Benne-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 2em 2em 0 2em;
}

/* Vertical rhythm */
.placeholder, h1, p, hr, .journey .event, .values, .contact {
    margin: 0 0 45px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder {
    background-color: #eee;
    width: 100%;
    height: 300px;
}

h1 {
    font-family: 'Benne Regular';
    font-weight: normal;
    font-size: 100px;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    font-size: 25px;
}

hr {
    border: 0;
    border-top: 1px solid #dedede; 
}

.journey {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    margin-left: 20px;
}

.journey .event .icon {
    height: 30px;
    width: 30px;
    background: #eee;
    margin-left: -35px;
}

.journey .event {
    display: flex;
    flex-direction: row;
}

.journey .event p {
    padding-left: 20px;
}
 
.values {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.values .icon {
    width: 75px;
    height: 75px;
    background: #eee;
    border-radius: 75px;
}

.value1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.value2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.value3 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.value-icon1 {
    grid-column: 1 / 2;
}

.value-icon2 {
    grid-column: 3 / 4;
}

.value-icon3 {
    grid-column: 1 / 2;
}

.contact {
    background: #eee;
}

/* Make bottom sections flush */
.contact, footer {
    margin: 0 -2em 0 -2em;
    padding: 2em;
}

.misaki {
    width: 75px;
    height: 75px;
    background: #fff;
    float: left;
    margin-right: 20px;
}

.resume {
    width: 105px;
    height: 150px;
    background: #fff;
    float: right;
    margin: 40px 0 0 20px;
}

footer {
    background: #ddd;
}

footer .copyright {
    font-size: 18px;
    margin: 0;
}